<%= render 'layouts/flash' %>

<% @questions.each do |question| %>
  <p>質問</p>
  <% if question.user.profile_image.present? %>
    <%= image_tag question.user.profile_image.url %>
  <% else %>
    <%= image_tag "default.jpg", size: "120x80" %>
  <% end %>
  <%= link_to(question.user.name, user_path(question.user.id)) %>
  <%= time_ago_in_words(question.updated_at) %>に相談
  <%= link_to(question.question_content.truncate(50), question_path(question.id)) %>
  <% if question.question_image.present? %>
    <%= image_tag question.question_image.url %>
  <% end %>

  <% if question.answers.present? %>
    <% answers = question.answers %>
    <% answer = answers[0] %>
    <% if answer.user.profile_image.present? %>
      <%= image_tag answer.user.profile_image.url %>
    <% else %>
      <%= image_tag "default.jpg", size: "120x80" %>
    <% end %>

    <%= link_to(answer.user.name, user_path(answer.user.id)) %>
    <%= time_ago_in_words(answer.updated_at) %>に回答

    <%= answer.answer_content.truncate(50) %>
    <% if answer.answer_image.present? %>
      <%= image_tag answer.answer_image.url %>
    <% end %>
    
  <% end %>
<% end %>