<% if @question.user.profile_image.present? %>
  <%= image_tag @question.user.profile_image.url %>
<% else %>
  <%= image_tag "default.jpg", size: "120x80" %>
<% end %>

<%= link_to(@question.user.name, user_path(@question.user.id)) %>

<%= @question.question_content %>
<% if @question.question_image.present? %>
  <%= image_tag @question.question_image.url %>
<% end %>
<%= @question.updated_at.strftime("%Y年 %m月 %d日 %H:%M") %>

<% if current_user %>
  <%= link_to '編集する', edit_question_path %> 
  <%= link_to '削除する', question_path, method: :delete %> 
<% end %>


<% @answers.each do |answer| %>
  <% if answer.user.profile_image.present? %>
    <%= image_tag answer.user.profile_image.url %>
  <% else %>
    <%= image_tag "default.jpg", size: "120x80" %>
  <% end %>

  <%= link_to(answer.user.name, user_path(answer.user.id)) %>

  <%= answer.answer_content %>
  <% if answer.answer_image.present? %>
    <%= image_tag answer.answer_image.url %>
  <% end %>
  <%= answer.updated_at.strftime("%Y年 %m月 %d日 %H:%M") %>

  <% if current_user %>
    <%= link_to '編集する', "/answers/#{answer.id}/edit" %> 
    <%= link_to '削除する', "/answers/#{answer.id}", method: :delete %> 
  <% end %>
<% end %>

<% if current_user %>
  <div id="answer">
    <%= form_with model:@answer, local: true do |form| %>
      <%= form.label :answer_content, "回答する" %>
      <%= form.text_area :answer_content %>

    　<%= form.label :answer_image, "画像をアップロード" %>
      <%= form.file_field :answer_image %>

      <%= form.submit "回答" %>
      
    <% end %>
  </div>
<% end %>
