<div class="profile-container">
  <div class="user-informations">
    <% if @user.profile_image.present? %>
      <%= image_tag @user.profile_image.thumb80.url, class: "user-image" %>
    <% else %>
      <%= image_tag "default.jpg", size: "80x80", class: "user-image" %>
    <% end %>
    <div class="name">
      <%= @user.name %>
    </div>
  </div>
  <div class="self-introduction">
    <p><%= @user.self_introduction %></p>
  </div>
  <% if current_user %>
    <% if @user.id == current_user.id %>
      <div class="user-edit">
        <span><%= link_to("ユーザーを編集", edit_user_path) %>&nbsp</span>
        <span><%= link_to("パスワードの変更", "/edit/password") %></span>
      </div>
    <% end %>
  <% end %>
</div>

<ul class="user-tabs">
  <li><%= link_to("投稿した相談", user_path) %></li>
  <li><%= link_to("投稿した回答", "/users/#{@user.id}/answers") %></li>
  <li><%= link_to("応援した相談", "/users/#{@user.id}/favorites") %></li>
  <li><%= link_to("ためになった回答", "/users/#{@user.id}/interests") %></li>
</ul>