<%= render partial: 'profile' %>

<% @interests.each do |interest| %>
  <div class="question-answer-container">
    <div class="question-user-informations">
      <% if interest.answer.question.user.profile_image.present? %>
        <%= image_tag interest.answer.question.user.profile_image.thumb65.url, class: "question-user-profile-image" %>
      <% else %>
        <%= image_tag "default.jpg", size: "65x65", class: "question-user-profile-image" %>
      <% end %>

      <div class="question-user-name-and-updated-at">
        <ul>
          <li><%= link_to(interest.answer.question.user.name, user_path(interest.answer.question.user_id)) %></li>
          <li><span><%= time_ago_in_words(interest.answer.question.updated_at) %>に相談</span></li>
        </ul>
      </div>
    </div>
  
    <div class="question-content">
      <%= link_to(interest.answer.question.question_content, question_path(interest.answer.question.id)) %>
      <div class="question-image">
        <% if interest.answer.question.question_image.present? %>
          <%= image_tag interest.answer.question.question_image.url %>
        <% end %>
      </div>
    </div>
  
    <div class="answer-user-name-and-updated-at">
      <%= link_to(interest.answer.user.name, user_path(interest.answer.user.id)) %><span>が<%= time_ago_in_words(interest.answer.updated_at) %>に回答</span>    
    </div>
    <div class="answer-content">
      <%= interest.answer.answer_content.truncate(55) %>
    </div>
  </div>
<% end %>