<%= render partial: 'profile' %>

<% @interests.each do |interest| %>
  <div class="question-answer-container">
    <div class="question_user_informations">
      <% if interest.answer.question.user.profile_image.present? %>
        <%= image_tag interest.answer.question.user.profile_image.thumb65.url, class: "question_user_profile_image" %>
      <% else %>
        <%= image_tag "default.jpg", size: "65x65", class: "question_user_profile_image" %>
      <% end %>

      <div class="question_user_name_and_update_at">
        <ul>
          <li><%= link_to(interest.answer.question.user.name, user_path(interest.answer.question.user_id)) %></li>
          <li><%= interest.answer.question.updated_at.strftime("%Y年 %m月 %d日 %H:%M") %></li>
        </ul>
      </div>
    </div>
  
    <div class="question_content">
      <%= link_to(interest.answer.question.question_content, question_path(interest.answer.question.id)) %>
      <div class="question_image">
        <% if interest.answer.question.question_image.present? %>
          <%= image_tag interest.answer.question.question_image.url %>
        <% end %>
      </div>
    </div>
  
    <div class="answer_user_name_and_update_at">
      <%= link_to(interest.answer.user.name, user_path(interest.answer.user.id)) %><span>が<%= time_ago_in_words(interest.answer.updated_at) %>に回答</span>    
    </div>
    <div class="answer_content">
      <%= interest.answer.answer_content.truncate(55) %>
    </div>
  </div>
<% end %>