<header>
  <div class="header-logo">
    <%= link_to("Well-child-Space", root_path) %>
  </div>

  <div class="header-list">
    <div class="question-search-field">  
      <%= form_with url: questions_path, method: :get, local: true do |form| %>
        <%= form.text_field :search, placeholder:"相談内容で検索" %>    
      <% end %>
    </div>  
    
    <ul>
      <% if user_signed_in? %>  
        <li><%= link_to("プロフィール", user_path(current_user.id)) %></li>
        <li><%= link_to("ログアウト", destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><%= link_to("新規登録", new_user_registration_path) %></li>
      　<li><%= link_to("ログイン", new_user_session_path) %></li>
      <% end %>     
    </ul>
  </div>
</header>

<div class="header-bottom">
  <h2>子育ての悩みや疑問はありませんか</h2>
  <h3><%= link_to("相談する", new_question_path) %></h3>
</div>