<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-logo">
          <%= link_to("Well-child-Space", "/") %>
        </div>
        <div class="header-list">    
          <ul>
            <li> 新規登録 </li>
            <li> ログイン </li>
            <li>検索</li>
          </ul>
        </div>
    </header>
    <div class="header2">
      <h2>子育ての悩みや疑問はありませんか</h2>
      <h3><%= link_to("相談する", "/questions/new") %></h3>
    </div>
    <%= yield %>
  </body>
</html>
